.Form {
   background-color: white;
   text-align: center;
   color: black;
}
.Form h2{
    font-size: larger;
    font-weight: bold;
}

.Form img{
    width: 200px;
    height: 110px;
}
.Form input {
    width: 20%;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
 .Form button{
    background-color: #241bc2;
    color: white;
    width: 350px;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
 } 

 .Form button:hover{
    background-color: rgb(0, 0, 0);
}