.Reg{
    text-align:center;
    font-size: 40px;
    font-weight: 600px;
    color: rgb(30, 0, 255);
    font-display:calc();
    background-image: url('https://i.pinimg.com/originals/e9/95/1f/e9951f7801caee1c1c4a81247f4482ff.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px;
}
.Reg p2{
    color: black;
   font-size:large;
    font-weight:400;
    text-align: left;
}
.Reg p1{
    color: blue;
    font-size: large;
}
.Reg h2{
    color: rgb(27, 30, 175);
   font-size:x-large;
}

nav{
    padding: 5px 5px !important;
}
.Reg p{
    color: black;
    font-size: 20px;
}
.Reg button
{
    background-color: rgb(43, 40, 242);
    color: white;
    width: 200px;
    border-radius:10px;
}
.Reg button:hover{
     background-color: rgb(215, 215, 215);
}